html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color:#F9F9F9;
  -webkit-font-smoothing: antialiased;
  /* prevent subpixel antialiasing, which thickens the text */
  /* text-rendering: optimizeLegibility; */
  /* turned off ligatures due to bug 5945455 */ }

#wrap { 
	margin-left: auto;
    margin-right: auto;
    width: 150em;
}
  
  
body {
  color: #222;
  font: 14px/19px Roboto, sans-serif;
  font-weight: 100;
  letter-spacing:.1;
  padding:0 10px; }


h2 {
    color:#333;
    font-size: 20px;
    margin: 20px 0 20px;
    padding:0;
    border-bottom: 1px solid #999999;
}

.progress {
  overflow: hidden;
  /*padding: 0 15px;*/
  width: 50%;
  margin-bottom: 1em;
}

.task{
    padding-right: 1em;
}

.tasks th {
    font-weight: bold;
    font-style:oblique;
}

.tasks th,td{
   width: 100%;
}
.tasks td{
    /*border:1px solid*/
}

.tasks  {
  /*float: left;*/
  margin-left: 17em;
  width: 30em;
  display: none;
  border-collapse:collapse;
  table-layout: fixed;
  font-weight:normal;
}

.taskdone {
    color: green;
}

.tasknotdone {
    color: red;
}

.tasksize {
    text-align:center;
}

.taskassignee{
   text-align:right;
   
}

.progress:hover .tasks  {
  display: block;
}

.progress-title {
  float: left;
  margin-right: 0cm;
  font: bold 15px/34px Roboto, Helvetica, Arial, sans-serif;
  color: #333;
  text-shadow: 0 1px rgba(255, 255, 255, 0.6);
}

.progress-val {
  float: right;
  font: bold 15px/34px Roboto, Helvetica, Arial, sans-serif;
  color: #333;
  text-shadow: 0 1px rgba(255, 255, 255, 0.6);
}

.progress-bar {
  display: block;
  overflow: hidden;
  height: 8px;
  margin-top: 13px;
  margin-right: 4em;
  background: #b8b8b8;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent 60%);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent 60%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent 60%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent 60%);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.6);
}

.progress-in {
  display: block;
  min-width: 8px;
  height: 8px;
  background: #1997e6;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(left, #147cd6, #24c1fc);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -moz-linear-gradient(left, #147cd6, #24c1fc);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -o-linear-gradient(left, #147cd6, #24c1fc);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), linear-gradient(to right, #147cd6, #24c1fc);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}
