*.jpg
*.png
*.aux
*.docx
*.html
*.pdf
*.log
*.out
build
dist
report.egg-info
err.txt
log.txt
concatenated_doc*.md
concatenated_doc.pmd
images/AB2_stability.svg
images/euler_stability.svg
images/runge_kutta_4_stability.svg
images/runge_kutta_cash_karp_stability.svg
images/trapezoidal_stability.svg
images/tutorial_*.svg
images/spectrum*.*g
images/waveB*.*g
images/waveM*.*g
tuto_execution
pict*.svg
interfaces_utilisateur.md
