[submodule "code/base91x"]
	path = code/base91x
	url = git@gitlab.sirehna.com:ThirdParty/base91x.git
[submodule "code/yaml-cpp"]
	path = code/yaml-cpp
	url = git@gitlab.sirehna.com:ThirdParty/yaml-cpp.git
[submodule "code/eigen"]
	path = code/eigen
	url = git@gitlab.sirehna.com:ThirdParty/eigen.git
