build
build*32
build*64
build_debian
build_deb8
build_deb9
build_deb9_dbg
build_deb10
build_deb10_dbg
build_windows
build_win_posix
code/build_*
build_doc
install
install*32
install*64
Debug
debug
gcc
clang
ssc_debian
ssc_windows
.cproject
.pydevproject
.metadata
.project
.settings
.vagrant
.vscode
*.swp
*.tar.gz
*.tgz
*.bz2
ssc.deb
xdyn.deb
__pycache__
**.hdf5
**.h5
**.bin
**.docx
**.pdf
**.html
**.png
**.jpeg
**.jpg
**.emf
.wine

