[submodule "code/base91x"]
	path = code/base91x
	url = git@gitlab.sirehna.com:ThirdParty/base91x.git
[submodule "code/yaml-cpp"]
	path = code/yaml-cpp
	url = git@gitlab.sirehna.com:ThirdParty/yaml-cpp.git
[submodule "code/eigen3-hdf5"]
	path = code/eigen3-hdf5
	url = git@gitlab.sirehna.com:ThirdParty/eigen3-hdf5
[submodule "code/gcovr"]
	path = code/gcovr
	url = git@gitlab.sirehna.com:ThirdParty/gcovr.git
[submodule "code/google-test"]
	path = code/google-test
	url = git@gitlab.sirehna.com:ThirdParty/google-test.git
[submodule "code/eigen"]
	path = code/eigen
	url = git@gitlab.sirehna.com:ThirdParty/eigen.git
