
#main {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
}
/*
#filechooser {
    position: relative;
    top: 3pc;
}

h2 {
    position: relative;
}

h3 {
    position: relative;
    margin-bottom: -1pc;
    margin-top: -1pc;
}
*/

#title {
    text-align: center;
    position: relative;
}

.lbl {
    position: relative;
    top: 0;
}

#run_button {
    margin-left: auto;
    margin-right: auto;
    width: 7pc;
    top:2pc;
    position:relative;
}

#graph_title {
    top: 0.6pc;
}

#graph {
    margin-left: auto;
    margin-right: auto;
}

#plot_selector {
    position:relative;
    width: 10pc;
    margin-left: auto;
    margin-right: auto;
}

label {
    color: #000000;
}

