#main {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    position: relative;
}

#graph {
    margin-left: auto;
    margin-right: auto;
}

#plug {
    width: 100pc;
}

#plug_and_status {
    position:absolute;
    top:0;
    right:0;
    width: 25%;
}

#run_button {
    margin-left: auto;
    margin-right: 0;
    width: 7pc;
}

#filechooser {
    position: relative;
    top: 3pc;
}

h2 {
    position: relative;
    /*margin-bottom: -1pc;*/
    /*top: 1.5pc;*/
}

h3 {
    position: relative;
    margin-bottom: -1pc;
    margin-top: -1pc;
    /*top: 1.5pc;*/
}


#title {
    text-align: center;
}

.lbl {
    position: relative;
    top: 0;
}

#plug {
    width: 10%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

#connection_status {
    text-align: center;
    text-transform: uppercase;
}

